body{
  /* font-size: 1rem; */
}

h3{
  font-size: 3.5rem;
}

img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Header Section */
#header{
  background-color: #000;
  color: #fff;
  padding: 3% 7% 7%;
  text-align: center;
}

.navbar{
  display: inline-block;
}

.header-title{
  padding: 5% 3%;
  text-align: left;
}

.header-text{
  font-size: 2rem;
  padding-right: 8%;
  text-align: right;
}

/* Family Tree Section */

#family-tree{
  padding: 7% 3%;
}

.card-footer{
  text-align: center;
}
.card-footer a{
  color: #000;
  margin: 0 10px;
}

/* Footer Section */

#footer{
  background-color: #000;
  color: #fff;
  padding: 3% 7%;
  text-align: center;
}

#footer p{
  padding-top: 4%;
}







/* Media Queries{} */
@media (max-width: 1024px){
  .header-title, .header-text{
    text-align: center;
  }
}
